@import url(https://www.dafont.com/webfont.font);

* {
   box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-rows: 100px auto 80px;
    grid-template-areas: 
    "header"
    "main"
    "footer" ;
}

header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}

nav {
    grid-area: nav;
}

nav > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

nav a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}




footer {
    grid-area: footer;
    color: white;
    text-align: center;
    
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    padding-top: 15px;
}

body {
    height: 98vh;
    background: url(image/leon-contreras-YyBlrCUVFWQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.active {
    color: #00abf0;
}

/* Home content */

.home-content {
    max-width: 700px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ededed;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    color: #ededed;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #081b29;
   background: #00abf0;
   width: 150px;
   height: 100%;
   border: 2px solid #00abf0;
   border-radius: 10px;
   font-size: 19px;
}

.socials {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}

.socials a {
    color: #00abf0;
}




.socials i {
    
}


