body{
    background-color: rgb(148, 86, 86);
    color: black;
}

header{
    grid-area: header;
    display: grid;
}

main{
    grid-area: main;
    color: white;
}

footer{
    grid-area: footer;
    font-family: 'roboto';
    color: black;

}

.wrapper{
    display: grid;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    grid-template-rows: 30px 30px auto 40px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;
}


h1{
    font-size: 2em;
    text-align: left;
}

nav > ul{
    font-size: 3em;
    margin-bottom: 5px;
}



.hem-bild{
    width: 15px;
    height: 15px;
    mix-blend-mode: multiply;
    align-content: center;
    margin-left: 9px;

    
}

